<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roncoo.education.user.dao.impl.mapper.TutorReservationMapper">
    <resultMap id="BaseResultMap" type="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservation">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="status_id" jdbcType="TINYINT" property="statusId"/>
        <result column="student_user_id" jdbcType="BIGINT" property="studentUserId"/>
        <result column="tutor_user_id" jdbcType="BIGINT" property="tutorUserId"/>
        <result column="tutor_id" jdbcType="BIGINT" property="tutorId"/>
        <result column="subject_id" jdbcType="BIGINT" property="subjectId"/>
        <result column="schedule_time" jdbcType="VARCHAR" property="scheduleTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="res_status" jdbcType="TINYINT" property="resStatus"/>
        <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason"/>    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservation">
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">and ${criterion.condition}</when>
                                <when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
                                <when test="criterion.betweenValue">and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
                                <when test="criterion.listValue">and ${criterion.condition}<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">#{listItem}</foreach></when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">and ${criterion.condition}</when>
                                <when test="criterion.singleValue">and ${criterion.condition} #{criterion.value}</when>
                                <when test="criterion.betweenValue">and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
                                <when test="criterion.listValue">and ${criterion.condition}<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">#{listItem}</foreach></when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">id, gmt_create, gmt_modified, status_id, student_user_id, tutor_user_id, tutor_id, subject_id, schedule_time, address, res_status, cancel_reason</sql>
    <sql id="Blob_Column_List">remark</sql>
    <select id="selectByExample" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservationExample" resultMap="BaseResultMap">
        select <if test="distinct">distinct</if> <include refid="Base_Column_List"/> from tutor_reservation
        <if test="_parameter != null"><include refid="Example_Where_Clause"/></if>
        <if test="orderByClause != null">order by ${orderByClause}</if>
        <if test="limitStart >= 0">limit ${limitStart}, ${pageSize}</if>
    </select>
    <select id="selectByExampleWithBLOBs" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservationExample" resultMap="ResultMapWithBLOBs">
        select <if test="distinct">distinct</if> <include refid="Base_Column_List"/>, <include refid="Blob_Column_List"/> from tutor_reservation
        <if test="_parameter != null"><include refid="Example_Where_Clause"/></if>
        <if test="orderByClause != null">order by ${orderByClause}</if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select <include refid="Base_Column_List"/>, <include refid="Blob_Column_List"/> from tutor_reservation where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">delete from tutor_reservation where id = #{id,jdbcType=BIGINT}</delete>
    <delete id="deleteByExample" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservationExample">delete from tutor_reservation <if test="_parameter != null"><include refid="Example_Where_Clause"/></if></delete>
    <insert id="insert" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservation">insert into tutor_reservation (id, gmt_create, gmt_modified, status_id, student_user_id, tutor_user_id, tutor_id, subject_id, schedule_time, address, res_status, cancel_reason, remark) values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{statusId,jdbcType=TINYINT}, #{studentUserId,jdbcType=BIGINT}, #{tutorUserId,jdbcType=BIGINT}, #{tutorId,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT}, #{scheduleTime,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{resStatus,jdbcType=TINYINT}, #{cancelReason,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR})</insert>
    <insert id="insertSelective" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservation">
        insert into tutor_reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="statusId != null">status_id,</if>
            <if test="studentUserId != null">student_user_id,</if>
            <if test="tutorUserId != null">tutor_user_id,</if>
            <if test="tutorId != null">tutor_id,</if>
            <if test="subjectId != null">subject_id,</if>
            <if test="scheduleTime != null">schedule_time,</if>
            <if test="address != null">address,</if>
            <if test="resStatus != null">res_status,</if>
            <if test="cancelReason != null">cancel_reason,</if>
            <if test="remark != null">remark,</if>        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="gmtCreate != null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="statusId != null">#{statusId,jdbcType=TINYINT},</if>
            <if test="studentUserId != null">#{studentUserId,jdbcType=BIGINT},</if>
            <if test="tutorUserId != null">#{tutorUserId,jdbcType=BIGINT},</if>
            <if test="tutorId != null">#{tutorId,jdbcType=BIGINT},</if>
            <if test="subjectId != null">#{subjectId,jdbcType=BIGINT},</if>
            <if test="scheduleTime != null">#{scheduleTime,jdbcType=VARCHAR},</if>
            <if test="address != null">#{address,jdbcType=VARCHAR},</if>
            <if test="resStatus != null">#{resStatus,jdbcType=TINYINT},</if>
            <if test="cancelReason != null">#{cancelReason,jdbcType=VARCHAR},</if>
            <if test="remark != null">#{remark,jdbcType=LONGVARCHAR},</if>        </trim>
    </insert>
    <select id="countByExample" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservationExample" resultType="java.lang.Integer">select count(*) from tutor_reservation <if test="_parameter != null"><include refid="Example_Where_Clause"/></if></select>
    <update id="updateByExampleSelective" parameterType="map">
        update tutor_reservation <set>
            <if test="record.gmtCreate != null">gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="record.gmtModified != null">gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="record.statusId != null">status_id = #{record.statusId,jdbcType=TINYINT},</if>
            <if test="record.studentUserId != null">student_user_id = #{record.studentUserId,jdbcType=BIGINT},</if>
            <if test="record.tutorUserId != null">tutor_user_id = #{record.tutorUserId,jdbcType=BIGINT},</if>
            <if test="record.tutorId != null">tutor_id = #{record.tutorId,jdbcType=BIGINT},</if>
            <if test="record.subjectId != null">subject_id = #{record.subjectId,jdbcType=BIGINT},</if>
            <if test="record.scheduleTime != null">schedule_time = #{record.scheduleTime,jdbcType=VARCHAR},</if>
            <if test="record.address != null">address = #{record.address,jdbcType=VARCHAR},</if>
            <if test="record.resStatus != null">res_status = #{record.resStatus,jdbcType=TINYINT},</if>
            <if test="record.cancelReason != null">cancel_reason = #{record.cancelReason,jdbcType=VARCHAR},</if>
            <if test="record.remark != null">remark = #{record.remark,jdbcType=LONGVARCHAR},</if>        </set>
        <if test="_parameter != null"><include refid="Update_By_Example_Where_Clause"/></if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservation">
        update tutor_reservation <set>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="statusId != null">status_id = #{statusId,jdbcType=TINYINT},</if>
            <if test="studentUserId != null">student_user_id = #{studentUserId,jdbcType=BIGINT},</if>
            <if test="tutorUserId != null">tutor_user_id = #{tutorUserId,jdbcType=BIGINT},</if>
            <if test="tutorId != null">tutor_id = #{tutorId,jdbcType=BIGINT},</if>
            <if test="subjectId != null">subject_id = #{subjectId,jdbcType=BIGINT},</if>
            <if test="scheduleTime != null">schedule_time = #{scheduleTime,jdbcType=VARCHAR},</if>
            <if test="address != null">address = #{address,jdbcType=VARCHAR},</if>
            <if test="resStatus != null">res_status = #{resStatus,jdbcType=TINYINT},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason,jdbcType=VARCHAR},</if>
            <if test="remark != null">remark = #{remark,jdbcType=LONGVARCHAR},</if>        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.roncoo.education.user.dao.impl.mapper.entity.TutorReservation">
        update tutor_reservation set
            gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
            status_id = #{statusId,jdbcType=TINYINT}
            student_user_id = #{studentUserId,jdbcType=BIGINT}
            tutor_user_id = #{tutorUserId,jdbcType=BIGINT}
            tutor_id = #{tutorId,jdbcType=BIGINT}
            subject_id = #{subjectId,jdbcType=BIGINT}
            schedule_time = #{scheduleTime,jdbcType=VARCHAR}
            address = #{address,jdbcType=VARCHAR}
            res_status = #{resStatus,jdbcType=TINYINT}
            cancel_reason = #{cancelReason,jdbcType=VARCHAR}        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
